In [1]:
#Devin Stern
#Web Scraping HW 
#Data Analytics Cohort 3

#import dependencies (make sure PythonWebMongo is activated)
from splinter import Browser #automates browser actions, like clicking buttons and surfing pages
from bs4 import BeautifulSoup as bs #pulls data from HTML files
import pandas as pd #use pandas to scrape tables
from selenium import webdriver

import requests
import pymongo
import os

In [ ]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [ ]:
# Define database and collection
db = client.mars_db
collection = db.mars_info

In [22]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = bs(response.text, 'lxml')

In [ ]:
# Retrieve the paragraph text
news_p = soup.find(class_='rollover_description_inner').text
print(news_p)

In [ ]:
news_title = soup.find(class_='content_title').text
print(news_title)

In [23]:
#Use splinter to navigate the site and find the image url for the current Featured Mars 
#Image and assign the url string to a variable called featured_image_url.

#Set up the chromedriver path
executable_path = {'executable_path': 'C:\chromedrv\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [24]:
#visit the site using splinter
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [25]:
##IMAGE URL - can't get it to work yet
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

featured_image_url = soup.find( 'data-fancybox-href', class_="data-fancybox-group")
print(featured_image_url)

None

In [26]:
#CLick the button for the full image featured photo KEEP THIS CELL
button = soup.find('footer', class_='button fancybox')
browser.click_link_by_partial_text('FULL IMAGE')

In [7]:
#Scrape off of twitter
twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)

html = browser.html
soup = bs(html, "html.parser")

In [8]:
#Print Mars weather
mars_weather = soup.find(class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

InSight sol 162 (2019-05-12) low -100.2ºC (-148.3ºF) high -20.3ºC (-4.5ºF)
winds from the SW at 4.5 m/s (10.1 mph) gusting to 14.3 m/s (32.0 mph)
pressure at 7.50 hPapic.twitter.com/23uEPf5baF

In [10]:
#Scrape table of facts from spacefacts website

url = 'https://space-facts.com/mars/'

In [11]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [19]:
#Create scraped table into dataframe
df = tables[0]
df.columns = ['Feature', 'Description']
df.head()

                Feature                    Description
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [20]:
#Convert table to html string
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Feature</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'